<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{
            text-align: center;
        }
        body{
            background-color: #605f5f;
        }
    </style>
</head>
<body>
    <h2>Hello From Index Page...</h2>
    <a href="/">Index</a>
    <a href="/home">home</a>
</body>
</html>